// ==========================================================================
// FUNCTIONS
// ==========================================================================

// Returns index of a given key in a map.
@function wb-key-index($map, $element) {
  $keys-list: map-keys($map);
  @return index($keys-list, $element);
}

// Returns a key for a given index in a map.
@function wb-key-at($map, $index) {
  $keys-list: map-keys($map);
  @return nth($keys-list, $index);
}

// Checks whether the passed breakpoint is the first breakpoint in the stack ($wb-breakpoints) or not.
@function wb-is-first-breakpoint($breakpoint) {
  @return wb-key-at($wb-breakpoints, 1) == $breakpoint;
}

// Checks whether the passed breakpoint is the last breakpoint in the stack ($wb-breakpoints) or not.
@function wb-is-last-breakpoint($breakpoint) {
  @return wb-key-at($wb-breakpoints, length($wb-breakpoints)) == $breakpoint;
}

// Returns the upper-limit for a given breakpoint.
@function wb-breakpoint-upper-limit($breakpoint) {
  @if (wb-is-last-breakpoint($breakpoint) == true) {
    @return null;
  }

  $breakpoint-index: wb-key-index($wb-breakpoints, $breakpoint);
  $next-breakpoint: wb-key-at($wb-breakpoints, $breakpoint-index + 1);

  @return map-get($wb-breakpoints, $next-breakpoint);
}
